<div class="container">
  <h3 style="color:#FFF;text-align: center">Welcome To SNEHA NRC </h3><br><br>
  <div class="row">
    <div class="col-md-4">
      <div class="card-base">
        <div class="card-icon"><a routerLink="/search" title="Widgets" id="widgetCardIcon" class="imagecard"><img
              src="assets/images/admission.png" style="width:60%"></a>
          <div class="card-data widgetCardData">
            <h2 class="box-title" style="color: #bb7824;"><a routerLink="/search">Admission</a></h2><br>
            <a routerLink="/admission">
              <p class="card-block text-center">New </p>
            </a>
            <!-- <a href="#" title="Style Builder" class="anchor btn btn-default" style="background: #bb7824; border: #bb7824;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Explore More </a> -->
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-base">
        <div class="card-icon"><a routerLink="/inpatient-care" title="Widgets" id="widgetCardIcon"
            class="imagecard"><img src="assets/images/inpatient1.png" style="width:60%"></a>
          <div class="card-data widgetCardData">
            <h2 class="box-title" style="color: #bb7824;"><a routerLink="/inpatient-care">Inpatient Care</a></h2><br>
            <a routerLink="/inpatient-care">
              <p class="card-block text-center">Inpatient Care</p>
            </a>
            <!-- <a href="#" title="Style Builder" class="anchor btn btn-default" style="background: #bb7824; border: #bb7824;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Explore More </a> -->
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>




    <div class="col-md-4">
      <div class="card-base">
        <div class="card-icon"><a routerLink="/in-patient" title="Widgets" id="widgetCardIcon" class="imagecard"><img
              src="assets/images/discharge.png" style="width:60%"></a>
          <div class="card-data widgetCardData">
            <h2 class="box-title" style="color: #bb7824;"><a routerLink="/in-patient">Discharge</a></h2><br>
            <a routerLink="/in-patient">
              <p class="card-block text-center">New </p>
            </a>
            <!-- <a href="#" title="Style Builder" class="anchor btn btn-default" style="background: #bb7824; border: #bb7824;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Explore More </a> -->
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>




  </div><br>


  <div class="row">
    <div class="col-md-4">
      <div class="card-base">
        <div class="card-icon"><a routerLink="/followup-search" title="Widgets" id="widgetCardIcon"
            class="imagecard"><img src="assets/images/followup1.png" style="width:60%"></a>
          <div class="card-data widgetCardData">
            <h2 class="box-title" style="color: #bb7824;"><a routerLink="/followup-search">Follow-up</a></h2><br>
            <a routerLink="/followup-search"><span class="card-block text-center in-line">New | </span></a><a
              routerLink="/followup-due"><span> Due this week</span></a>
            <!-- <a href="#" title="Style Builder" class="anchor btn btn-default" style="background: #bb7824; border: #bb7824;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Explore More </a> -->
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card-base">
        <div class="card-icon">
          <a routerLink="/report" title="Widgets" id="widgetCardIcon" class="imagecard"><img
              src="assets/images/report1.jpg" style="width:60%"></a>
          <div class="card-data widgetCardData">
            <h2 class="box-title" style="color: #bb7824;"><a routerLink="/report">Reports</a></h2><br>
            <a routerLink="/report"><span class="card-block text-center in-line">Summary  | </span></a><a
              routerLink="/monthly-report"><span> Monthly </span></a>
           
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-base">
          <div class="card-icon">
              <a routerLink="/admin" title="Widgets" id="widgetCardIcon" class="imagecard"><img src="assets/images/operations.jfif" style="width:60%"></a>
              <div class="card-data widgetCardData">
                  <h2 class="box-title" style="color: #bb7824;"><a routerLink="/admin">  Admin & Operations</a></h2><br>
                  <a routerLink="/admin">
                      <p class="card-block text-center"> Admin & Operations</p>
                  </a>
                  <!-- <a href="#" title="Style Builder" class="anchor btn btn-default" style="background: #bb7824; border: #bb7824;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Explore More </a> -->
              </div>
          </div>
          <div class="space"></div>
      </div>



</div><br><br>




</div>
<br><br>
<footer>
  <p>©<a style="color:#0a93a6; text-decoration:none;" href="#"> </a>SNEHA NRC is a collaborative effort of Government of
    Karnataka, IIITB and CSTEP</p>
</footer>