<div class="container">
    <h3 style="color:#FFF;text-align: center">Welcome To Vanivilas NRC</h3><br><br>
    <div class="row">
      <div class="col-md-6">
        <div class="card-base">
          <div class="card-icon"><a href="#" title="Widgets" id="widgetCardIcon" class="imagecard"><img
                src="assets/images/admission.png" style="width:60%"></a>
            <div class="card-data widgetCardData">
              <h2 class="box-title" style="color: #bb7824;"><a routerLink="/admission">Admission</a></h2><br>
              <p class="card-block text-center">Create a new admission</p>
              <!-- <a href="#" title="Style Builder" class="anchor btn btn-default" style="background: #bb7824; border: #bb7824;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Explore More </a> -->
            </div>
          </div>
          <div class="space"></div>
        </div>
      </div>

      


      <div class="col-md-6">
        <div class="card-base">
          <div class="card-icon"><a href="#" title="Widgets" id="widgetCardIcon" class="imagecard"><img
                src="assets/images/discharge.png" style="width:60%"></a>
            <div class="card-data widgetCardData">
              <h2 class="box-title" style="color: #bb7824;"><a routerLink="/in-patient">Discharge</a></h2><br>
              <p class="card-block text-center">Discharge a child after treatment</p>
              <!-- <a href="#" title="Style Builder" class="anchor btn btn-default" style="background: #bb7824; border: #bb7824;"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Explore More </a> -->
            </div>
          </div>
          <div class="space"></div>
        </div>
      </div>
     


    </div>

    


  </div>