


<div class="container">

  <h3 style="color:#FFF;text-align: center">DISCHARGE</h3>





  <!-- collapse start here -->

  <div class="panel-group" id="accordion" style="margin-top:50px;">
      <div class="panel panel-info">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
              <h4 class="panel-title accordion-toggle">
                 Child Details
              </h4>

          </div>
          <div id="collapseOne" class="panel-collapse collapse collapse in">
              <div class="panel-body">

                  
          <div class="container">
            <div class="header1">
              <div class="col-md-4">
                  <ul>
                      <li> <b>Name: </b>Ramu</li>
                      <li> <b>UH ID/ OPD ID: </b>345214</li>


                  </ul>
              </div>
              <div class="col-md-4">
                  <ul>
                      <li> <b>IP No: </b>8125732</li>
                      <li> <b>SAM Id: </b>52346/18/19</li>



                  </ul>
              </div>
              <div class="col-md-4">
                  <ul>
                      <li> <b>RCH Id: </b>3456789123</li>
                      <li> <b>Contact No: </b>9543568906</li>
                  </ul>
              </div>
          </div>
          </div>






              </div>
          </div>
      </div>
      <div class="panel panel-info">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
              <h4 class="panel-title accordion-toggle">
                 Discharge  Summary
              </h4>


          </div>
          <div id="collapseTwo" class="panel-collapse collapse collapse in ">
              <div class="panel-body">

                      <form>
                           

                          <div class="form-group row">

                              <div class="col-md-3 col-xs-3">
                                  <label for="ex2">Admission Date</label>
                                  <input class="form-control" id="adate" type="text">
                              </div> 
                              <div class="col-md-3 col-xs-3">
                                  <label for="ex2"> Admission Weight</label>
                                  <input class="form-control" id="aweight" type="text" placeholder="7.0 kg">
                              </div>
                              <div class="col-md-3 col-xs-3">
                                  <label for="ex2">Admission Height</label>
                                  <input class="form-control" id="aheight" type="text" placeholder="70 cm" >
                              </div>
                              <div class="col-md-3 col-xs-3">
                                  <label for="ex2"> Admission SD</label>
                                  <input class="form-control" id="asd" type="text"  placeholder="-3.2">
                              </div>


                          </div>
                          <div class="form-group row">

                            <div class="col-md-3 col-xs-3">
                               <label for="ex2">Discharge Date</label>
                               <input class="form-control" id="ddate" type="text" placeholder="02/03/2019">
                           </div>
                           <div class="col-md-3 col-xs-3">
                               <label for="ex2"> Discharge Weight*</label>
                               <input class="form-control" id="dweight" type="text" placeholder="8.2 kg">
                           </div>
                           <div class="col-md-3 col-xs-3">
                               <label for="ex2">Discharge Height*</label>
                               <input class="form-control" id="dheight" type="text" placeholder="72 cm">
                           </div>
                           <div class="col-md-3 col-xs-3">
                               <label for="ex2">  Discharge SD*</label>
                               <input class="form-control" id="dsd" type="text"  placeholder="-2.2">
                           </div>
                           


                       </div>
                       <div class="form-group row">
                        <div class="col-md-3 col-xs-3">
                                <label for="ex2">Duration Of Stay</label>
                                <input class="form-control" id="dstay" name="" placeholder="34 Days">
                            </div>
                    
                    <div class="col-md-3 col-xs-3">
                            <label for="ex2">Average weight Gain*</label>
                            <input class="form-control" id="weightgain" type="text" placeholder="35 gm per day">
                        </div> 
                    

                </div>
                <div class="form-group">
                  <label for="comment">Comorbid Condition*:</label><br>
                  <div class="checkbox-inline">
                      <label><input type="checkbox" name="comorbid"
                              value="Pneumonia">Pneumonia</label>
                  </div>
                  <div class="checkbox-inline">
                      <label><input type="checkbox" name="comorbid"
                              value="Gastroenteritis">Gastroenteritis
                      </label>
                  </div>
                  <div class="checkbox-inline">
                      <label><input type="checkbox" name="comorbid" value="Sepsis">Sepsis</label>
                  </div>
                  <div class="checkbox-inline">
                      <label><input type="checkbox" name="comorbid" value="CHD">CHD</label>
                  </div>
                  <div class="checkbox-inline">
                      <label><input type="checkbox" name="comorbid" value="CP">CP</label>
                  </div>
                  <div class="checkbox-inline">
                      <label><input type="checkbox" name="comorbid" value="Renal Disease">Renal
                          Disease</label>
                  </div>
                  <div class="checkbox-inline">
                      <label><input type="checkbox" name="comorbid"
                              value="Meningitis">Meningitis</label>
                  </div><br>

                  
                  
                     
                     

              </div>

              <div class="form-group row">

                <div class="col-md-4 col-xs-4">
                    <label for="ex2">Clinical Impression*</label>
                    <select id="clinicalimpression" class="form-control mal-nourish">
                        <option>--Select--</option>
                        <option>primary</option>
                        <option>Secondary</option>


                    </select>
                </div>
                <div class="col-md-2 col-xs-2">
                    <label for="ex2">Outcome*</label>
                    <select id="outcome" class="form-control mal-nourish">
                        <option>--Select--</option>
                        <option>Improved</option>
                        <option>LAMA</option>
                        <option>Death</option>
                        <option>Referred</option>
                       


                    </select>
                </div>
                <div class="col-md-6 col-xs-6">

                    <label for="comment">Treatment Given*:</label>
                    <textarea class="form-control" rows="3" id="treatmentcomment" placeholder=" "></textarea>
                </div>


            </div>

            <div class="form-group row">





              <div class="col-md-6 col-xs-6">

                  <label for="comment">Medical Advice*:</label>
                  <textarea class="form-control" rows="3" id="cmedicalcomment" placeholder=" "></textarea>
              </div>
              <div class="col-md-6 col-xs-6">

                  <label for="comment">Dietary Advice*:</label>
                  <textarea class="form-control" rows="3" id="dietarycomment" placeholder=" "></textarea>
              </div>

          </div>
  
                          </form>
              


              </div>
          </div>
      </div>





      <div class="panel panel-info">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
              <h4 class="panel-title accordion-toggle">
                  Followup Details
              </h4>

          </div>
          <div id="collapseFour" class="panel-collapse collapse collapse in ">
              <div class="panel-body">
                     

                   <form>
                    <div class="form-group row">





                      <div class="col-md-3 col-xs-3">

                          <label for="ex2"> Community based  Follow-up Dates*</label>

                      </div>
                      <div class="col-md-2 col-xs-2">
                          <label for="ex2"> First</label>
                          <input class="form-control" name="" placeholder="09/03/2019"><br>
                      </div>
                      <div class="col-md-2 col-xs-2">
                          <label for="ex2"> Second</label>
                          <input class="form-control" name="" placeholder="17/03/2019" ><br>
                      </div>
                      <div class="col-md-2 col-xs-2">
                          <label for="ex2">Third</label>
                          <input class="form-control" name="" placeholder="02/04/2019" ><br>
                      </div>
                      <div class="col-md-2 col-xs-2">
                          <label for="ex2">Fourth</label>
                          <input class="form-control" name="" placeholder="02/05/2019" >
                      </div>

                  </div>

                  <div class="form-group row">
                          <div class="col-md-3 col-xs-3">
                                  <label for="ex2"> NRC Follow-up Dates*</label>
                                 
                              </div>

                      
                      <div class="col-md-2 col-xs-2">
                          <label for="ex2"> First</label>
                          <input class="form-control" name="" placeholder="02/03/2019"><br>
                      </div>
                      <div class="col-md-2 col-xs-2">
                          <label for="ex2"> Second</label>
                          <input class="form-control" name="" placeholder="02/04/2019"><br>
                      </div>
                      <div class="col-md-2 col-xs-2">
                          <label for="ex2">Third</label>
                          <input class="form-control" name="" placeholder="02/05/2019"><br>
                      </div>
                      <div class="col-md-3 col-xs-2">
                          <label for="ex2">Fourth</label>
                          <input class="form-control" name="" placeholder="02/06/2019">
                      </div>

                  </div>


                   </form>
                  
              
              </div>
          </div>
      </div>

      <div class="panel panel-info">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
              <h4 class="panel-title accordion-toggle">
                  Mother Details & Demography 
             </h4>

          </div>
          <div id="collapseFive" class="panel-collapse collapse collapse in">
              <div class="panel-body">
                <form>
                    <div class="form-group row">

                        <div class="col-md-4 col-xs-4">
                           <label for="ex2">Weight (kg)* </label>
                           <input class="form-control" id="modweight" type="text" placeholder="02/03/2019">
                       </div>
                       <div class="col-md-4 col-xs-4">
                           <label for="ex2"> Height(cm)*</label>
                           <input class="form-control" id="modheight" type="text" placeholder="8.2 kg">
                       </div>
                       <div class="col-md-4 col-xs-4">
                           <label for="ex2">MUAC*</label>
                           <input class="form-control" id="modmuac" type="text" placeholder="72 cm">
                       </div>


                       
                       


                   </div>
                   <div class="form-group row">

                      <div class="col-md-4 col-xs-4">
                         <label for="ex2">BMI* </label>
                         <input class="form-control" id="mobmi" type="text" placeholder="02/03/2019">
                     </div>
                    
                     <div class="col-md-4 col-xs-4">
                        <label for="ex2"> At Medical Risk *</label>
                        <select id="outcome" class="form-control mal-nourish">
                            <option>--Select--</option>
                           
                           
    
    
                        </select>
                    </div>
                     
                  </div>
                  <button type='submit'>Submit</button>
                </form>


                      

          
              </div>
          </div>
      </div>

  </div> 

  <!-- <div class="form-group">
  
      <span  name="submit" class="btn btn-info btn-md">submit</span>

  </div> -->

  

</div>
