<ul class="navstyle breadcrumb">
	<li class="navstyle1"><a href="#about">NRC</a></li>
    <li class="navstyle1"><a href="#followup-search">Follow-up Search</a></li>
    <li class="navstyle1"><a href="#followup-history">Follow-up History </a></li>
   
   
   
  </ul>


<div class="container">
        <h3 style="color:#FFF;text-align: center"><img src="assets/images/followup1.png"  class="imagecard"  style="width: 4%;height:30%">Follow-up History</h3>
	<div class="row">
	<table id="example" class="table  table-bordered" style="width:100%;background-color:white">
        <thead>
            <tr>
                <th><input type="checkbox" onclick=""></th>
                <!-- <th>NO.</th> -->
                <th>Date</th>
                <th>Height</th>
                <th>Weight</th>
                <th>SD</th>
                <th>Remarks/comments</th>
            </tr>
        </thead>
        <tbody  *ngIf="followuphistorys">
            <tr   *ngFor="let followuphistory of followuphistorys" >

                    

                  <td><input type="checkbox" name=""></td>
                <!-- <td>{{ followuphistory.followupNo}}</td> -->
                <td>{{ followuphistory.followupDate}}</td>
                <td>{{ followuphistory.heightCm}}</td>
                <td>{{ followuphistory.weightKg}}</td>
                <td>{{ followuphistory.standardDev}}</td>
                <td>{{ followuphistory.remarks}}</td>
               
                
            </tr>
           
            
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>
	</div>
</div>
